<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liandi.system.dao.RolePowerMapper">


    <insert id="batchSaveRolePower">
        insert into sys_role_power(id, role_id, power_id)
        values
        <foreach collection="rolePowerList" item="rolePower" separator=",">
            (rolePower.id, rolePower.roleId, rolePower.powerId)
        </foreach>
    </insert>

</mapper>