<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liandi.dao.PowerMapper">

    <resultMap id="powerMap" type="com.liandi.dao.domain.PowerDO">
        <id property="id" column="id"/>
        <result property="powerName" column="power_name"/>
        <result property="powerType" column="power_type"/>
        <result property="parentPowerId" column="parent_power_id"/>
        <result property="powerUrl" column="power_url"/>
        <result property="sort" column="sort"/>
        <association property="parentPower" column="parent_power_id" select="com.liandi.dao.PowerMapper.getPower"
                     fetchType="lazy"/>
    </resultMap>

    <select id="listPowerByRoleId" resultMap="powerMap">
        select p.id, p.power_name, p.power_type, p.parent_power_id, p.power_url, p.sort
        from sys_power p,
             sys_role_power rp
        where p.id = rp.power_id
          and rp.role_id = #{roleId}
    </select>

    <select id="getPower" resultMap="powerMap">
        select p.id, p.power_name, p.power_type, p.parent_power_id, p.power_url, p.sort
        from sys_power p,
             sys_role_power rp
        where p.id = #{id}
    </select>


</mapper>