<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liandi.dao.UserMapper">

    <resultMap id="userMap" type="com.liandi.dao.domain.UserDO">
        <id property="id" column="id"/>
        <result property="userCode" column="user_code"/>
        <result property="userName" column="user_name"/>
        <result property="loginName" column="login_name"/>
        <result property="pswd" column="pswd"/>
        <result property="organizationId" column="organization_id"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <association property="organization" column="organization_id"
                     select="com.liandi.dao.OrganizationMapper.getOrganization" fetchType="lazy"/>
        <collection property="roleList" column="id" select="com.liandi.dao.RoleMapper.listRoleByUserId"
                    fetchType="lazy"/>
        <collection property="roleCodeSet" column="id" select="com.liandi.dao.RoleMapper.listRoleCode"
                    fetchType="lazy"/>
        <collection property="powerUrlSet" column="id" select="com.liandi.dao.PowerMapper.listPowerUrl"
                    fetchType="lazy"/>
    </resultMap>

    <select id="countUser" parameterType="com.liandi.dao.param.ListPageUserParam" resultType="java.lang.Integer">
        select count(*) from sys_user u
        <where>
            <if test="organizationId != null and organizationId != ''">and u.organization_id = #{organizationId}</if>
            <if test="userCode != null and userCode != ''">and u.user_code like '%'||#{userCode}||'%'</if>
            <if test="userName != null and userName != ''">and u.user_name like '%'||#{userName}||'%'</if>
            <if test="phone != null and phone != ''">and u.phone like '%'||#{phone}||'%'</if>
            <if test="email != null and email != ''">and u.email like '%'||#{email}||'%'</if>
        </where>
    </select>

    <select id="listPageUser" parameterType="com.liandi.dao.param.ListPageUserParam" resultMap="userMap">
        select u.id, u.user_code, u.user_name, u.login_name, u.pswd, u.organization_id, u.email, u.phone from sys_user u
        <where>
            <if test="organizationId != null and organizationId != ''">and u.organization_id = #{organizationId}</if>
            <if test="userCode != null and userCode != ''">and u.user_code like '%'||#{userCode}||'%'</if>
            <if test="userName != null and userName != ''">and u.user_name like '%'||#{userName}||'%'</if>
            <if test="phone != null and phone != ''">and u.phone like '%'||#{phone}||'%'</if>
            <if test="email != null and email != ''">and u.email like '%'||#{email}||'%'</if>
        </where>
        order by u.user_code asc
        limit #{startSize}, #{pageSize}
    </select>

    <select id="listUser" parameterType="com.liandi.dao.param.ListUserParam" resultMap="userMap">
        select u.id, u.user_code, u.user_name, u.login_name, u.pswd, u.organization_id, u.email, u.phone from sys_user u
        <where>
            <if test="userCode != null and userCode != ''">and u.user_code = #{userCode}</if>
            <if test="userName != null and userName != ''">and u.user_name = #{userName}</if>
            <if test="loginName != null and loginName != ''">and u.login_name = #{loginName}</if>
            <if test="organizationId != null and organizationId != ''">and u.organization_id = #{organizationId}</if>
        </where>
    </select>

    <select id="getUserByLoginName" resultMap="userMap">
        select u.id,
               user_code,
               user_name,
               login_name,
               pswd,
               organization_id,
               phone,
               email
        from sys_user u
        where u.login_name = #{loginName}
    </select>

</mapper>